<ion-view>
  <ion-nav-title>
    Cine Freak Show
  </ion-nav-title>
  <ion-content>
    <div class="direccion padding">
      <p><small>Centro Cultural Pasaje Dardo Rocha. Calle 50 e/ 6 y 7.</small></p>
      <p><small>La Plata. Buenos Aires. Argentina.</small></p>
    </div>
    <ion-list>
      <ion-item class="item item-dark" ng-repeat="film in films">
        <div class="item-image">
          <a href="#/app/films/{{film.nombre}}"><img ng-src="{{film.imagen}}">  </a>
        </div>
        <div class="item item-balanced">
          <h2>{{film.nombre}}</h2>
          <p>{{film.director}} | {{film.duracion}}</p>
          <strong>{{film.dia}}</strong>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>