<ion-view view-title="{{film.nombre}}">
  <ion-content>
    <ion-item class="item-body item-balanced">
      <ul ng-repeat="horario in film.horarios">
        <li>{{horario}}</li>
      </ul> 
    </ion-item>
    <ion-item class="item-image">
      <img ng-src="{{film.imagen}}">
    </ion-item>
    <ion-item class="item-body item-dark">
      <ul>
        <li>Director: {{film.director}}</li>
        <li>Pais: {{film.pais}}</li>
        <li>Año: {{film.anio}}</li>
        <li>Duración: {{film.duracion}}</li>
      </ul>
      <p>
        {{film.descripcion}}
      </p>
    </ion-item>
  </ion-content>
</ion-view>
