<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-balanced button-clear ion-android-film" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<!--
  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/programacion">
          programacion
        </ion-item>
        <ion-item menu-close href="#/app/mapa">
          mapa
        </ion-item>
        <ion-item menu-close href="#/app/chat">
          <i class="icon ion-android-chat"></i>
          chat
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
-->
</ion-side-menus>
